 a:link
 { 	text-decoration: none;
 	color: #797979;
 }

.content{
	width: 980px;
	margin-top: 83px;
	position: relative;
}

.logo
{
	float: left;
}

.search_bar
{
	margin-left: 420px;
}

.search_bar a
{
	margin-left: 10px;
	font-size: 14px;
	color: #027DB4;
}

.search_icon
{
	width: 14px;
	height: 14px;
	position: absolute;
	left: 450px;
	margin-top:15px;
}

.image_icon
{
	position: absolute;
	left: 800px;
	margin-top:13px;
    border:none;
	cursor: pointer;
}


.input
{
	width:360px;
	height:40px;
	border:1px solid #DBDBDB;
	border-radius:20px;
	padding-left: 50px;
}

input:focus{
    outline: none;
    border: 1px solid #409EFF;
}

.button
{
	width:69px;
  	height:36px;
  	background-color:rgba(64, 158, 255, 1);
  	border:none;
  	border-radius:10px;
  	margin-left: 10px;
  	color: white;
  	cursor: pointer;
}

button:focus{
	outline: none;
}

.select_area
{
	width: 900px;
	height: auto;
	margin-top: 30px;
	border:1px solid rgba(121, 121, 121, 0.5);
	padding-top:30px;
	padding-bottom:30px;
}

.line {
    width: 900px;
    height: auto;
    font-size: 14px;
    color: #333333;
    padding-top: 5px;
    padding-bottom: 10px;
}

.line a
{
	margin-left: 10px;
	cursor: pointer;
}

.line a.active
{
	background-color: #409EFF;
	color: #fff;
	padding: 3px 5px 3px 5px;
	margin-left: 50px
}

.hr
{
   height:1px;
   width:90%;
   border:none;
   border-top:1px solid rgba(121, 121, 121, 0.5);
   margin-top:10px;
}

.more
{
    height: auto;
    margin-top:6px;
    margin-left:18px;
    display:none;
    line-height:2em;
}

.reminder
{
	font-size: 18px;
	color: #555555;
	font-weight: 800;
	float: left;
	margin-top:30px;
	margin-left: 15px;
}

.reminder a
{
	color: #027DB4;
}

.result_header
{
	width: 944px;
	height: 45px;
	margin-top: 80px;
	background-color: #F2F2F2;
}

.result_header a
{
	font-size: 14px;
	color: #333333;
	margin-top: 10px;
	float: right;
	margin-right: 20px;
	font-weight: 800;
}

.result_area
{
	width: 900px;
	height: 1100px;
	margin-bottom: 30px;
	border:1px solid rgba(121, 121, 121, 0.5);
	padding: 0 30px 10px 10px;
	border-top: none;
}

.result_area img
{
	width:180px;
	height: 168px;
	/*
	我不知道为什么下面设成50第四个图就被挤出去了
	用了flask就有这个问题，不用就没有
	 */
	margin-left: 50px;
	margin-top: 40px;
}

.image_search{
    width:635px;
    height:600px;
    /*float:center;*/
    margin-top:30px;

}

.image_search_font{
    font-size:18px;
    font-family:'Arial Normal', 'Arial', sans-serif;
    font-weight:700;
    color:#555555;
    text-align:left;
    margin-left:20px;
}

.button_2
{
    width:100px;
    height:30px;
      background-color:rgba(64, 158, 255, 1);
      border:none;
      border-radius:10px;
      margin-right: 30px;
      color: white;
      cursor: pointer;

}

button_2:focus{
    outline: none;
}

.input_2
{
    width:350px;
    height:28px;
    border:1px solid #DBDBDB;
    padding-left: 10px;
}

input_2:focus{
    outline: none;
    border: 1px solid #409EFF;
}

.button_3{
    width:100px;
    height:30px;
    background-color:rgba(64, 158, 255, 1);
    border:none;
    border-radius:10px;
    margin-right:10px;
    margin-top: 20px;
    color: white;
    cursor: pointer;

}

button_3:focus{
    outline: none;
}

.image_show{
    width:465px;
    height:360px;
    /*float:center;*/
    margin-top:30px;

}

.img{
max-width:100%;height:auto;
}

.close_icon
{
    width: 18px;
    height: 18px;
    position: absolute;
    right: 200px;
    margin-top:-40px;
    border:none;
    cursor: pointer;

}
